div a{
    color: wheat;
    text-decoration: none;
    list-style: none; 
    display: flex;
    flex-direction: column;
     align-content: space-between;
    margin: 10% 0 0 10px;
}

ul{
    text-align: center;
}

div a:active,
div a.active{
    color:black;
    border-bottom: 4px solid blue;
} 

 header{
    width:80%;
    height: 5rem;
    background-color: #044599;
    padding: 0 10%;
}

header nav{
    height: 100%;
}

header ul{
    list-style: none;
    height: 100%;
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
}

header li{
    margin: 0 1rem;
    width: 5rem;
}

header a{
    color: rosybrown;
    text-decoration: none;
}

/* header a:hover{
    transform: translateY(-0.2rem);
    color: black;
} */

header a:hover,
header a:active,
header a.active { 
    color: lightgrey;
    border-bottom: 4px solid skyblue;
    padding-bottom: 0.25rem;
}
/* 
header a:active,
header a.active {
    color: red;
    border-bottom: 4px solid blue;
  } */